---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <ContactUs
    id="form"
    title="Have questions about your Digital Menu or QR codes?"
    subtitle="Don't let a question stop you from creating the perfect menu. Check our <a href='/#FAQs' class='underline font-medium decoration-primary hover:text-primary transition duration-200'>Frequently Asked Questions</a> for step-by-step guides. Still need help? Chat with us directly—we are happy to guide you through."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 24 business hours."
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'General support',
        description: `We are here to assist with account setup, managing your menus & price lists, billing inquiries, and technical support for your WiFi or Branded QR codes.`,
        icon: 'tabler:lifebuoy',
      },
      {
        title: 'Live Chat Support',
        description: '<a href="https://m.me/894426147088849" target="_blank" rel="noopener" class="hover:underline text-primary">Chat via Messenger</a>',
        icon: 'tabler:brand-messenger',
       },
       {
        title: 'Location',
        description: 'Tan Dinh Ward, Ho Chi Minh City, Vietnam',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
